.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.passwordEye{
    width:25px;
    height:25px;
    cursor: pointer;
}

.box {
    justify-content: space-between;
    margin: 10px 0px;
    border: 1px solid;
    padding: 40px;
}

.confirmUserNameBox {

}

.confirmUserNameBox input {
    margin: 10px 0px;
    padding: 10px 10px;
}

.border_success{
    border:10px solid green;
}

.border_error{
    border:10px solid red;
}

.dflex{
    display:flex;
}

.HValign{
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.labelInputBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colorBoxes ul {
    list-style: none;
    gap: 40px;
}

.colorBoxes ul li {
    list-style: none;
    width: 60px;
    cursor: pointer;
    height: 60px;
}

.selectedColor {
    height: 250px;
    width: 450px;
    border: 1px solid black;
}